:root {
  --crl-grey: rgba(20, 20, 20, 0.9);
  --clr-white: rgb(224, 224, 224);
  --spacing: 0.25em;
  --radius: 0.3em;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --blueish-crl: rgb(79, 172, 209)
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial;
}

nav {
  align-self: stretch;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(212, 212, 212);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  padding: 1em 0;
  text-transform: capitalize;
  text-decoration: none;
  background-color: white;
}

nav .wrapper {
  display: flex;
  gap: 4em;
}
nav ul {
  display: flex;
  gap: 1em;
  padding-left: 0;
  list-style: none;
}

h4 {
  color: var(--blueish-crl);
  letter-spacing: var(--spacing);
}

a {
  color: var(--crl-grey);
  text-decoration: none;
  letter-spacing: var(--spacing);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #d9d9d9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.container {
  background: var(--crl-grey);
  padding: 4em;
  border-radius: var(--radius);
  text-align: center;
  color: var(--clr-white);
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: var(--spacing);
}
.btn {
  background: transparent;
  padding: 1em 1.5em;
  border-radius: var(--radius);
  border: 2px solid rgba(20, 20, 20, 0.9);
  box-shadow: var(--shadow);
  text-align: center;
  text-transform: uppercase;
  margin: 3em;
  color: var(--crl-grey);
  letter-spacing: var(--spacing);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s linear;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.7);
}

.color {
  color: var(--blueish-crl);
  text-transform: none;
}
